/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Estilos de contenedores de login, registro y reset */
.login, .register, .reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login__container, .register__container, .reset__container {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input groups */
.login__input-group, .register__input-group, .reset__input-group {
  margin-bottom: 15px;
}

.login__input, .register__input, .reset__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login__input:focus, .register__input:focus, .reset__input:focus {
  border-color: #4a90e2;
  outline: none;
}

/* Botones generales */
.login__button, .register__button, .reset__button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login__button:hover, .register__button:hover, .reset__button:hover {
  background-color: #357ab8;
}

/* Botón para Google */
.login__button--google, .register__button--google, .reset__button--google {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #db4437;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login__button--google:hover, .register__button--google:hover, .reset__button--google:hover {
  background-color: #c33c2d;
}

.login__links, .register__links, .reset__links {
  text-align: center;
}

/* Navbar personalizado */
.navbar {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #4a90e2;
}

.nav-link {
  font-size: 1.1rem;
  color: #333;
  margin-left: 10px;
}

.nav-link:hover {
  color: #4a90e2;
}

/* Contenedor general */
.container {
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el adminSection */
#adminSection {
  margin-top: 30px;
}

#adminSection table {
  margin-top: 20px;
}

/* Personaliza los márgenes del modal */
.modal-dialog {
  max-width: 500px;
  margin: 1.75rem auto;
}

/* Responsivo */
@media (max-width: 768px) {
  .login, .register, .reset {
    margin: 50px auto;
    padding: 15px;
  }

  .container {
    margin-top: 30px;
    padding: 15px;
  }

  .nav-link {
    font-size: 1rem;
  }
}
